<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>

    <header>
      <h2>Placement CELL</h2>
      <div id="signin-signup">
        
        <a href="http://" class="signIn-signUp">Sign-In</a>
        <a href="http://" class="signIn-signUp">Sign-Up</a>
      </div>

    </header>
    <main>

        <div id="interview-student-toggle">
            <a href="/" class="dynamic-button" id="students">Students</a>
            <a href="/interview"  class="dynamic-button" id="interviews">Interviews</a>
            <a href="/student/create"  class="dynamic-button" id="add-student">Add Student</a>
            <a href="/interview/create"  class="dynamic-button" id="create-interview">Create Interview</a>
        </div>
            <%- body %>
       
        </div>



    </main>

    <footer>

    </footer>
</body>
</html>