<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/51457f5ad9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>

    <header>
      <h2 id="header-text">Placement Cell</h2>
      <div id="header-buttons">
        <% if(locals.user){%>
            <a href="/user/logout" class="header-buttons" >Log Out</a>
            <%}else{%>
        <a href="/user/sign-in" class="header-buttons" >LogIn</a>
        <%}%>
        </div>
    </header>
    <main>

        <div id="interview-student-toggle">
            <a href="/" class="dynamic-button" id="students">Students</a>
            <a href="/interview"  class="dynamic-button" id="interviews">Interviews</a>
            <a href="/student/create"  class="dynamic-button" id="add-student">Add Student <i class="fa-sharp fa-regular fa-plus"></i></a>
            <a href="/interview/create"  class="dynamic-button" id="create-interview">Create Interview <i class="fa-sharp fa-regular fa-plus"></i></a>
            <a href="/student/csv" class="dynamic-button" id="csv-btn">Download CSV <i class="fa-sharp fa-regular fa-plus"></i></a>
            
        </div>
            <%- body %>
       
        </div>



    </main>

    <footer>

    </footer>
</body>
</html>