<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Ip</title>
    <script src="https://kit.fontawesome.com/51457f5ad9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/sign-in.css">
</head>

<body>
    <div id="sign-in-form">
        <h1>Admin Sign In</h1>
        <form action="sign-in/auth" method="post">

            <input type="email" name="email" id="email" required placeholder="Enter your email" required><br>
            <input type="password" name="password" id="password" required placeholder="Enter password" required><br>
            <input type="submit" value="sign In">
        </form>
        <!-- <h3 style="margin-left: 80px;" id="click-sign-up">Don't have an account? click here <a href="/user/sign-up">Sign Up</a></h3> -->
        <!-- <hr>
        <sup>or</sup>
        <div id="google-auth-sign-in"><i class="fa-brands fa-google"></i><a href="">google</a></div> -->
    </div>
</body>

</html>