#interviews-table {
    display: inline-block;
    height: 600px;
    width: fit-content;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 2px;
}



table {
    width: 1000px;
    padding: 5px;
    border: none;
    border-color: black;
}

th{
    background-color: rgb(195, 184, 184);;
}

td>a{
    display: inline-block;
    width: 99%;
    text-decoration: none;
    color:black;
    text-transform: capitalize;
    padding-left: 1%;
}

td>a:hover{
    background-color: rgb(225, 222, 222);
    color: black;
}

.delete a, .reschedule a{
    text-decoration: none;
    font-size: 1.01rem;
    color: white;
}

.delete a:hover,
.reschedule a:hover{
    color:black;
}
.date_time{
    width: 250px;
}

.time{
    padding-left: 20px;
}

.delete a{
    border-left: 2px solid red;
    padding-left: 5px;
}

.manage{
    width: 133px;
    background-color: rgb(118, 118, 220);
    position: relative;
}

.reschedule-form >form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    height:80px;
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    align-items: center;
    background-color: rgb(195, 184, 184);
    position: absolute;
    left:150px;
    font-size: large;
    text-transform: capitalize;
    /* top:30px; */
    
}
.reschedule-form  button{
    width: 50px;
    font-size: medium;
    background-color: rgb(196, 196, 237);
    border-width: 1px;

}