body{
    margin-top: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 186, 154);
    
}
header{
    background-color: rgb(62, 214, 62);
    
}
#header-text{
    margin: 0;
    display: block;
    padding: 20px 0px 20px 10px;
    color: rgb(19, 55, 55);
    font-size: 2rem;
}

#logout{
    display: inline-block;
    position: absolute;
    right:50px;
    top: 22px;
    height:20px;
    width: 70px;
    text-align: center;
    background-color:rgb(79, 95, 187);
    color: rgb(249, 247, 246);
    border-radius: 20px;  
    text-decoration: none;
    padding: 2px;
    border:2px solid transparent
    
}
#logout:hover{
    background-color: rgb(116, 128, 192);
    border:2px solid black;
    }

main{
    display: block;
    margin: 0 auto;
    width: fit-content;
    margin-top: 2vh;
}

#interview-student-toggle{
    display: flex;
    padding: 5px;
    justify-content: center;

}

.dynamic-button{
    display: inline-block;
    height: 20px;
    width: fit-content;
    text-align: center;
    background-color: rgb(167, 130, 116);
    margin-right: 20px;
    border-radius: 20px;
    padding:2px 7px;
    text-decoration: none;
    color: black;
    border:1px solid rgb(63, 59, 59)
}

.dynamic-button:hover{
    border: 1px solid black;
    color: white;
    background-color: rgb(129, 82, 65);
}




  