#student-table{
    display: inline-block;
    height: 600px;
    width: fit-content;
    background-color: whitesmoke;
    border: 2px solid black;
    border-radius: 2px;
}



table{
    width: 1000px;
    padding: 5px;
    border: none;
    border-color: black;
}

th, .th{
    background-color: rgb(195, 184, 184);
}
.placement-status{
    cursor: pointer;
    background-color: black;
    color: white;    
}

.placement-status:hover{
    color:orange;
}

td{
    position: relative;
}
.change-status>form{
display: inline-block;
position: absolute;
height:70px;
width: 100px;
background-color:rgb(195, 184, 184) ;
padding:5px;
border-radius: 5px;
left:140px;
}

.change-status>form button{
    margin-left: 25px;
    margin-top: 5px;
    width: 50px;
}